
{% extends 'base.html.twig' %}

{% block title %}Hello junkeliu {% endblock %}

{% block body %}





<form method="post" action="traitement.php">
   <p>
       <label for="nom">Votre nom :</label>
       <input type="text" name="nom" id="nom" />
       
       <br />
       <label for="password">Votre mot de passe :</label>
       <input type="password" name="password" id="password" />
       
       <br />
       <label for="email">Votre address email :</label>
       <input type="text" name="email" id="email" />
   </p>
</form>








<form method="post" action="traitement.php">
   <p>
       <label for="ameliorer">Comment pensez-vous que je pourrais améliorer mon site ?</label><br />
       <textarea name="ameliorer" id="ameliorer"></textarea>
   </p>
</form>

<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>

<br />